{% extends 'base.html' %}



{% load static %}
{% load bootstrap4 %}
{% block content %}

    <div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{ bene_detail.name }}</h3>
                <table style="width:100%">
                    <tr>
                        <th>Phone number :</th>
                        <th>{{ bene_detail.phone_number }}</th>
                    </tr>
                    <tr>
                        <th>Address :</th>
                        <th> {{ bene_detail.address }} </th>
                    </tr>
                    <tr>
                        <th>Family Members :</th>
                        <th> {{ bene_detail.family_memebers_numbers }} </th>
                    </tr>
                    <tr>
                        <th>Monthly Income :</th>
                        <th> {{ bene_detail.salary }}</th>
                    </tr>
                </table>
                <br>
                <br>
                <p class="text-center">
                    <a class="form-control text-decoration-none fw-bolder fs-5" style="color: cornflowerblue"
                       href="{% url 'beneficiary:bene_list' %}"> Return To Beneficiary </a>
                </p>
            </div>
        </div>
    </div>

{% endblock content %}