{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

    <br>
    <br>
    <div class="container col-md-12">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <h4>Edit New Beneficiary</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <br>
                        <button class="form-control text-decoration-none fw-bolder fs-5" style="color: cornflowerblue"
                                type="submit" href="{% url 'beneficiary:edit_beneficiary' bene.id %}">Edit Beneficiary
                            Profile
                        </button>
                    {% endbuttons %}
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>
        <br>
        <br>
    </div>
    <br>
{% endblock content %}