{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
    <br>
    <br>
    <div class="container col-md-12">
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <br>
                <br>
                <h4>Edit Profile</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    {% bootstrap_form userform %}
                    {% bootstrap_form profileform %}
                    {% buttons %}
                        <br>
                        <button class="form-control text-decoration-none fw-bolder fs-5" style="color: cornflowerblue"
                                type="submit" href="{% url 'accounts:CharityProfileView' %}">Edit
                        </button>
                    {% endbuttons %}
                </form>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br>
        <br>
        <br>
    </div>

{% endblock %}




 