{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}




    <div>
        <div class="col-sm-12">
            <div class="row ">
                <div class="col-4 gmap_canvas" >
                    <br>
                    <img class="img-responsive " style="height: 400px ;width: 400px" src="{{ profile.license_image.url }} ">


                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <br>
                        <br>
                        <br>

                        <h3 class="card-title">{{ profile.name }}</h3>
                        <table style="width:100%">
                            <tr>
                                <th>Email :</th>

                                <th> {{ profile.user.email }}</th>
                            </tr>
                            <tr>
                                <th>Phone number :</th>

                                <th>{{ profile.Charity_Phone_Number }}</th>
                            </tr>
                            <tr>
                                <th>Address :</th>

                                <th> {{ profile.address }} </th>
                            </tr>
                            <tr>
                                <th>User name :</th>

                                <th> {{ profile.user.username }} </th>
                            </tr>
                        </table>
                        <br>
                        <p class="text-center col-md-8">
                            <a class="form-control text-decoration-none fw-bolder fs-5" style="color: cornflowerblue"
                               href="{% url 'accounts:CharityProfileEdit' %}"> Edit Profile </a>
                        </p>
                        <br>
                        <p class="text-center col-md-8">
                            <a class="form-control text-decoration-none fw-bolder fs-5" style="color: cornflowerblue"
                               href="{% url 'accounts:password_change' %}"> Change Password </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>

<br>

{% endblock content %}